## Build generated
build/
DerivedData/

Pods/

*.xcworkspacedata
*.xcworkspace/xcshareddata
*.lock

Big River Book Store.xcworkspace/xcuserdata/florinuscatu.xcuserdatad/UserInterfaceState.xcuserstate
